{{/* layouts/partials/icons/social.html */}}
<div class="social-icons">
  {{ with .Site.Data.settings.social.facebook }}
    <a href="{{ . }}" target="_blank" rel="noopener" aria-label="Facebook">
      <i class="fab fa-facebook-f"></i>
    </a>
  {{ end }}
  {{ with .Site.Data.settings.social.instagram }}
    <a href="{{ . }}" target="_blank" rel="noopener" aria-label="Instagram">
      <i class="fab fa-instagram"></i>
    </a>
  {{ end }}
  {{ with .Site.Data.settings.social.twitter }}
    <a href="{{ . }}" target="_blank" rel="noopener" aria-label="Twitter">
      <i class="fab fa-twitter"></i>
    </a>
  {{ end }}
</div>
